@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: "Open Sans", sans-serif;
}

.signUpSection {
  background: #083aa5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 450px;
  text-align: center;
  display: flex;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 3px 10px 20px 5px rgba(44, 66, 92, 0.6);
}
.info {
  width: 45%;
  padding: 80px 0px 0 50px;
}
.nav {
  background: #010b20;
  height: 60px;
  width: auto;
  justify-content: center;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
}
